.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vh;
}

.App-bord {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.51);
  min-height: calc(80vh - 10vh);
  max-height: calc(80vh - 10vh);
  background-color: #8f8888;
  padding: 5vh 5vh 5vh 5vh;
  gap: 1vh;
}

.App-form {
  display: flex;
  flex-direction: row;
}

.App-input {
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 25px 0 0 25px;
  outline: none;
  min-width: 350px;
}

.App-submit {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #282c34;
  border: 1px solid #282c34;
  padding: 14px 38px;
  text-decoration: none;
  transition: all .5s;
  border-radius: 0 25px 25px 0;
  outline: none;
}

.App-submit:hover {
  background: #282c34;
  color: #FFFFFF;
}

.App-footer {
  background-color: #282c34;
  min-height: 9vh;
}